<div class="h-screen flex flex-col">
    <app-header-moderador></app-header-moderador>
    <div class="flex-1 flex flex-col items-center">
        <h1 class="text-3xl font-bold">Cambiar contraseña</h1>
        <p class="mt-auto">Contraseña actual</p>
        <input class="border border-black bg-[#E8E8E8] rounded-lg w-[30%] h-[35px] m-1" type="text">
        <p>Nueva contraseña</p>
        <input class="border border-black bg-[#E8E8E8] rounded-lg w-[30%] h-[35px] m-1" type="text">
        <p>Confiramar la nueva contraseña</p>
        <input class="border border-black mb-auto  mt-1 bg-[#E8E8E8] rounded-lg w-[30%] h-[35px]" type="text">
        <button class="border border-black rounded-xl p-1 mt-auto">Actualizar contraseña</button>
    </div>
    <app-footer-component></app-footer-component>
</div>