<div class="h-screen flex flex-col">
    <app-header-moderador></app-header-moderador>
    <form class="flex-1 flex flex-col items-center" #f="ngForm" (ngSubmit)="cmabiarPassword()">
        <h1 class="text-3xl font-bold">Cambiar contraseña</h1>
            <p class="mt-auto">Contraseña actual</p>
            <input name="actualPassword" id="actualPassword" [ngModel]="cambiarNegocioDto.actualPassword"
                [type]="showCurrentPassword ? 'text' : 'password'" required
                class="border p-2 border-black bg-[#E8E8E8] rounded-lg w-[30%] h-[35px] m-1">
            <p>Nueva contraseña</p>
            <input name="newPassword" id="newPassword" [ngModel]="cambiarNegocioDto.newPassword" required
                [type]="showCurrentPassword ? 'text' : 'password'"
                class="border p-2 border-black bg-[#E8E8E8] rounded-lg w-[30%] h-[35px] m-1" type="text">
            <p>Confiramar la nueva contraseña</p>
            <input name="newPasswordRepeat" id="newPasswordRepeat" [ngModel]="confirmarPassword"
                [type]="showCurrentPassword ? 'text' : 'password'" required
                class="border p-2 border-black mb-auto  mt-1 bg-[#E8E8E8] rounded-lg w-[30%] h-[35px]">
            <button type="submit" (click)="cmabiarPassword()" [disabled]="f.invalid || !sonIguales()" class="border border-black rounded-xl p-1 mt-auto">Actualizar contraseña</button>
            <div *ngIf="!sonIguales()" class="text-red-500">Las contraseñas no coinciden</div>
    </form>
    <app-footer-component></app-footer-component>
</div>