<div class="h-screen flex flex-col">
    <app-header-moderador></app-header-moderador>
    <div class="flex-1">
        <select [(ngModel)]="filtroEstadoNegocio" (change)="onSelectChange($event)"
        class="border border-black p-1 h-[40px] mb-3 ml-10 mt-3 rounded-full text-center" name="Seleccionadors" id="">
        <option value="">Seleccione una opcion</option>
        @for (item of estadosNegocio; track $index) {
        <option value="{{item}}">{{item}}</option>
        }
    </select>
    <table class="table-auto w-full border-separate border-spacing-y-2 px-10">
        <tbody>
            <tr *ngFor="let item of negocios" routerLink="/negocio-moderador/{{item.codigoNegocio}}"
                class="p-4 hover:cursor-pointer hover:bg-gray-300 bg-gray-200">
                <td class="p-2 w-1/6 td-class">
                    <img class="mx-auto rounded-xl border" src="{{item.imagenes[0].urlImagen}}" alt="{{item.nombre}}">
                </td>
                <td class="w-1/3 h-10 td-class">
                    <div class="bg-[#E9E2E2] w-4/5 h-1/2 rounded-2xl pl-4 p-2 border border-black">
                        <p>{{item.nombre}}</p>
                        <p
                            [ngClass]="item.estadoNegocio === 'RECHAZADO' ? 'text-red-600' : (item.estadoNegocio === 'APROBADO' ? 'text-green-600' : 'text-purple-600')">
                            {{
                            item.estadoNegocio }}</p>
                    </div>
                </td>
                <td class="h-10 td-class">
                    <div class="bg-[#E9E2E2] w-4/5 h-1/2 rounded-2xl p-4 border border-black">
                        <p>{{item.tipoNegocio}}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <app-footer-component></app-footer-component>
</div>