<form #f="ngForm" (ngSubmit)="registrar()" class="bg-blue-100 rounded-lg p-8 max-w-md mx-auto">
    <div class="mb-4">
        <label class="block text-blue-900 mb-2">Nombre: </label>
        <input type="text" name="nombre" [(ngModel)]="registroClienteDTO.nombre" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="mb-4">
        <label class="block text-blue-900 mb-2">Foto: </label>
        <input type="file" name="fotoPerfil" (change)="onFileChange($event)" required class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="mb-4">
        <label class="block text-blue-900 mb-2">Ciudad: </label>
        <select name="ciudadResidencia" required [(ngModel)]="registroClienteDTO.ciudadResidencia" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
            <option value="" selected>Seleccione una ciudad</option>
            @for (item of ciudades; track $index) { <option [value]="item" >{{item}}</option> }
        </select>
    </div>
    <div class="mb-4">
        <label class="block text-blue-900 mb-2">Username: </label>
        <input type="text" name="nickname" [(ngModel)]="registroClienteDTO.nickname" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="mb-4">
        <label class="block text-blue-900 mb-2">Correo electrónico: </label>
        <input type="email" name="email" [(ngModel)]="registroClienteDTO.email" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="mb-4">
        <label class="block text-blue-900 mb-2">Contraseña: </label>
        <input type="password" name="password" [(ngModel)]="registroClienteDTO.password" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="mb-4">
        <label class="block text-blue-900 mb-2">Repetir contraseña: </label>
        <input type="password" name="confirmaPassword" [(ngModel)]="registroClienteDTO.confimarPassword" required class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    @if (!sonIguales()) { <p class="text-red-500">Las contraseñas no coinciden</p> }
    <button type="submit" [disabled]="f.invalid || !sonIguales()" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Registrarse</button>
</form>
