<div class="h-screen flex flex-col">
    <app-header-moderador></app-header-moderador>

    <div class="flex-1 flex flex-col items-center">
        <h1 class="text-3xl font-bold">Eliminar cuenta</h1>
        <p class="mt-auto">ingrese su contraseña para proceder con la acción</p>
        <input class="border border-black mb-auto w-[40%] h-10 mt-2s" type="text">
        <button class="border p-1 border-black rounded-xl mt-auto hover:bg-gray-200">Eliminar</button>
    </div>
    <app-footer-component></app-footer-component>
</div>