<app-header-inicio></app-header-inicio>

<!-- sidenav.component.html -->
<div class="flex h-screen bg-gray-100">
    <!-- Sidenav -->
    <div class="sidenav bg-white w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">

      <h2 class="text-3xl font-semibold text-center text-gray-800">Categorías</h2>
      <nav>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="twemoji:cocktail-glass" data-inline="false"></span>
          Bar
        </a>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="ic:baseline-shopping-bag" data-inline="false"></span>
          Tienda
        </a>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="mdi:cart-outline" data-inline="false"></span>
          Supermercado
        </a>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="mdi:music-circle-outline" data-inline="false"></span>
          Discoteca
        </a>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="mdi:bread-slice-outline" data-inline="false"></span>
          Panaderia
        </a>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="ic:baseline-museum" data-inline="false"></span>
          Museo
        </a>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="mdi:silverware-fork-knife" data-inline="false"></span>
          Restaurante
        </a>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="mdi:coffee-outline" data-inline="false"></span>
          Cafeteria
        </a>
        <a href="#" class="flex items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">
          <span class="iconify" data-icon="emojione-monotone:question-mark" data-inline="false"></span>
          Otro
        </a>
      </nav>
    </div>
    <!-- Contenido principal -->
    <div class="flex-1 p-10 text-2xl font-bold">
      contenido aquí
    </div>
  </div>
  
  
  
