<app-header-moderador></app-header-moderador>
<div class="flex">
    <div class="flex-1"></div>
    <div class="flex-1 flex justify-center">
        <h1 class="pt-4q text-2xl italic font-bold text-black">Historial de Revisiones</h1>
    </div>
</div>
<div class="flex flex-1 m-4">
    <div class="flex-1">
        <div class="flex items-center">
            <div id="default-carousel" class="relative w-full" data-carousel="static">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    @for (item of negocio.imagenes; track $index) {
                    <div class="hidden duration-700 ease-in-out border border-gray-600" data-carousel-item>
                        <img src="{{item.urlImagen}}"
                            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    }
                </div>
                <!-- Slider indicators -->
                <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                    @for (item of negocio.imagenes; track $index) {
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                        attr.aria-label="Slide {{$index}}" data-carousel-slide-to="0"></button>
                    }
                </div>
                <!-- Slider controls -->
                <button type="button"
                    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-white/30 group-hover:bg-white/50 dark:group-hover:bg-gray-300/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-500/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button"
                    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-white/30 group-hover:bg-white/50 dark:group-hover:bg-gray-300/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-500/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
            <div class="p-8">
                <h2 class="text-2xl font-bold">Nombre negocio: {{negocio.nombre}}</h2>
                <h3 class="text-xl text-gray-600">Estado negocio: {{negocio.estadoNegocio}}</h3>
            </div>
        </div>
        <div class="flex items-center">
            <img class="rounded-full p-4 w-24 h-24 object-fill" [src]="negocio.imagenes[0]?.urlImagen">
            <p class="">nombre creador: {{negocio.nombre}}</p>
        </div>
        <textarea class="border m-4 border-black bg-gray-200 w-10/12 h-60 rounded-2xl resize-none p-2" disabled
            id="">{{negocio.descripcion}}</textarea>
    </div>
    <div class="flex flex-1 justify-center items-top">
        <div class="border block overflow-auto border-black w-3/4 max-h-[100vh]  bg-gray-200 rounded-xl">
            <table class="table-auto border-separate w-full border-spacing-y-2">
                @for (item of negocio.historialRevisiones; track $index) {
                <tr class="h-[50px]">
                    <td class="flex border border-black rounded-3xl m-1">
                        <div class="m-3 mr-5 text-sm">
                            <p class="mb-4">fecha: {{item.fecha | date:'dd/MM/yyyy'}}</p>
                            <p>Estado negocio: <span
                                    [ngClass]="item.estadoNegocio === 'APROBADO' ? 'text-green-600' : 'text-red-600'">{{item.estadoNegocio}}</span>
                            </p>
                        </div>
                        <p *ngIf="item.estadoNegocio != 'APROBADO'" class="m-3 text-sm">Descripción:
                            {{item.descripcion}}</p>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="flex">
    <div class="flex-1"></div>
    <div class="flex-1 flex justify-center">
        <button *ngIf="negocio.estadoNegocio === 'RECHAZADO' || negocio.estadoNegocio === 'PENDIENTE'"
            (click)="this.mostrarPopup=true; isRechazar=false"
            class="border border-black m-2 rounded-lg p-1 text-green-600 hover:bg-gray-300">Aprobar</button>
        <button *ngIf="negocio.estadoNegocio === 'APROBADO' || negocio.estadoNegocio === 'PENDIENTE'"
            (click)="this.mostrarPopup=true; isRechazar=true"
            class="border border-black m-2 rounded-lg p-1 text-red-600 hover:bg-gray-300">Rechazar</button>
    </div>
</div>
<app-popup-rechazar-lugar (close)="cerrarPopUp()" [show]="this.mostrarPopup" [isRechazar]="isRechazar"
    [idNegocio]="negocio.codigoNegocio"></app-popup-rechazar-lugar>
<app-footer-component></app-footer-component>